@media screen and (max-width: 768px) {
    .header_top > a {
        text-align: center;
        font-size: 15px;
    }

    .header_menu {
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    .menu_list {
        gap: 20px;
    }

    .menu_link {
        font-size: 16px;
        text-transform: uppercase;
    }

    .header_middle > h1 {
        font-size: 45px;
    }

    .header_middle > p {
        font-size: 16px;
    }

    .header_middle {
        gap: 40px;
        padding: 0 15px;
    }

    .header_bottom > p {
        padding: 15px 15px 0;
    }

    .client {
        gap: 20px;
    }

    .client > div > img {
        max-width: 100px;
        width: 100%;
        height: auto;
    }

    .community {
        margin: 30px 0 40px 0;
    }

    .community_numbers {
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    .community_number {
        text-align: center;
    }

    .community_number > p {
        font-size: 65px;
    }

    .community_number > span {
        font-size: 14px;
    }

    .community_wrapper > h2 {
        font-size: 25px;
        max-width: 100%;
        margin-top: 0;
    }

    .community_wrapper {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }

    .adoption {
        margin: 45px 0 40px 0;
    }

    .adoption_header > h2 {
        font-size: 25px;
    }

    .adoption_box > h3 {
        font-size: 20px;
    }

    .adoption_box > p {
        font-size: 15px;
    }

    .adoption_text {
        font-size: 14px;
    }

    .adoption_box {
        padding: 25px;
        height: auto;
    }

    .adoption_amount {
        font-size: 20px;
    }

    .build {
        margin: 40px 0 40px 0;
    }

    .build_top > h2 {
        font-size: 25px;
    }

    .build_middle > img {
        width: 350px;
    }

    .build_desc {
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .build_middle {
        flex-direction: column;
        gap: 30px;
        padding: 25px 0 25px 0;
        background-color: #000;
    }

    .build_top {
        justify-content: center;
        flex-direction: column;
        gap: 25px;
        margin: 0;
    }

    .build_desc > p {
        padding: 0;
        text-align: center;
    }

    .join {
        margin: 40px 80px;
    }

    .join > h2 {
        font-size: 25px;
        text-align: center;
        margin: 25px auto;
    }

    .join_desc > p {
        font-size: 25px;
        margin: 40px 0 0 0;
    }

    .join_images {
        margin: 40px 0 0 0;
        grid-template-columns: repeat(4, minmax(100px, 1fr));
        grid-template-rows: repeat(2, minmax(100px, 1fr));
        place-content: center;
    }

    .footer_wrapper {
        flex-direction: column;
        gap: 50px;
    }

    .footer_desc {
        justify-content: center;
        align-items: center;
    }
}
